.container-img {
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    height: 3rem;
    justify-content: center;
  
    &__img {
      height: 100%;
    }
  
    // @media (min-width: 40rem) {
    //   margin-left: 0;
    // }
  }
  