.sidebar-container {
  height: 100vh;
  position: relative;
  display: flex;
  margin-bottom: 0;

  .va-sidebar-item {
    a {
      color: white;

      &:active {
        color: blue;
      }
    }
  }
}

.content-container {
  padding: 1rem;
  width: 100%;
}
